{% extends "base.html" %}

{% block title %}Edit {{ village.name }}{% endblock %}

{% block content %}
<h1 class="mb-4">Edit {{ village.name }}</h1>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <label for="name">Village Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ village.name }}" required>
    </div>
    <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ village.subtitle }}" required>
    </div>
    <div class="form-group">
        <label for="advice">Village Advice</label>
        <textarea class="form-control" id="advice" name="advice" rows="3" required>{{ village.advice }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Village</button>
</form>
{% endblock %}